/* Comments */
/* @import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700"); */
@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");
/* Responsiveness */

/* For a screen < 960px, this CSS will be read */
@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

/* For a screen < 720px, this CSS will be read */
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

/* For a screen < 540px, this CSS will be read */
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

/* Tags */

body {
  background-color: #F7F9FC;
  color: #575F7D;
  font-family: 'Lora', serif;
  font-size: 17px;
  font-weight: lighter;
  line-height: 25px;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    color: red;
    font-size: 30px;
    line-height: 32px;
}

h1 {
  color: red;
  font-size: 32px;
  font-weight: 1000;
}

h2 {
  color: red;
  font-family: arial;
}

p {
  display: block;
  margin: 17px 0px 40px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #6B72E1;
  font-weight: 600;
  font-size: 16px;
}

a:hover {
  color: rgb(209, 209, 209);
}

i {
  font-size: 25px;
}

ul.list-inline {
  list-style: none;
  margin: 17px 0px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

/* Classes */

.container {
  width: 500px;
  margin: 0 auto;
}

.card {
  width: 400px;
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

.list-inline li {
  display: inline;
  padding: 10px;
}


.fab {
  color: red;
  font-size: 25px;
}

.fab:hover {
  font-size: 40px;
}

/* IDs */

#btn-red {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: red;
  color: #FFFFFF;
  padding: 15px 20px;
}

#pic-profile {
  border-radius: 100px;
}

.crt-paper,.crt-wrapper{
    position:relative
}


@media (min-width:992px){
    .crt-wrapper{
        padding-left:20px;
        padding-right:20px
    }
    .crt-container{
        max-width:810px
    }
    .crt-container-sm{
        padding-left:0;
        padding-right:0
    }
    #crtContainer{
        background-color:transparent!important
    }
    .crt-paper-layers{
        position:relative;
        z-index:0
    }
    .crt-layers-2 .crt-paper-layers{
        margin-bottom:3px
    }
    .crt-layers-3 .crt-paper-layers{
        margin-bottom:6px
    }
    .crt-layers-2 .crt-paper-layers:before,.crt-layers-3 .crt-paper-layers:after,.crt-layers-3 .crt-paper-layers:before{
        content:'';
        width:100%;
        height:100%;
        position:absolute
    }
    .crt-layers-2 .crt-paper-layers:before,.crt-layers-3 .crt-paper-layers:before{
        top:3px;
        left:3px;
        z-index:2
    }
    .crt-layers-3 .crt-paper-layers:after{
        top:6px;
        left:6px;
        z-index:1
    }
    .crt-paper,.crt-paper-layers:after,.crt-paper-layers:before{
        border:1px solid transparent
    }
    .crt-paper{
        z-index:3
    }
    .crt-paper-cont{
        padding-left:20px;
        padding-right:20px
    }
    .crt-nav-on .crt-container-sm{
        margin-right:56px
    }
    .crt-nav-on .crt-container{
        max-width:866px
    }
    .crt-side-box-on .crt-paper-cont{
        float:left;
        width:100%
    }
    .crt-side-box-on .crt-container-sm{
        margin-left:310px
    }
    .crt-side-box-on .crt-container{
        max-width:1140px
    }
    .crt-side-box-on.crt-nav-on .crt-container{
        max-width:1196px
    }
}
@media (min-width:992px) and (min-width:1200px){
    .crt-side-box-on .crt-container-sm{
        margin-left:330px
    }
}
@media (min-width:992px) and (min-width:992px){
    .crt-side-box-on .crt-paper-layers{
        float:left;
        width:100%
    }
}
.section{
    margin-bottom:30px
}
@media (max-width:479px){
    .section [class^=col-xs-]{
        margin-bottom:2em
    }
}
@media (max-width:767px){
    .section [class^=col-sm-]{
        margin-bottom:2em
    }
}
@media (max-width:991px){
    .section [class^=col-md-]{
        margin-bottom:2em
    }
}
@media (max-width:1199px){
    .section [class^=col-lg-]{
        margin-bottom:2em
    }
}
@media (min-width:768px){
    .padd-box-sm{
        margin-left:8%;
        margin-right:8%
    }
}
@media (min-width:992px){
    .padd-box-sm{
        margin-left:12%;
        margin-right:12%
    }
}
@media (min-width:1200px){
    .padd-box{
        margin-left:3.4%;
        margin-right:3.4%
    }
    .padd-box .padd-box-sm{
        margin-left:8.6%;
        margin-right:8.6%
    }
}
@media (min-width:992px){
    .crt-head-inner{
        border:none;
        background:0 0!important
    }
}
